fastapi
uvicorn[standard]
sqlalchemy
pymysql
alembic
cryptography
pytest
httpx
email-validator
pytest-cov
pytest-mock
faker
factory_boy
python-jose[cryptography]
bcrypt==4.1.2
passlib[bcrypt]
pandas
python-multipart